/*============ Common styles =========*/
body{
        font-family: 'Roboto', sans-serif;
        color: #434455;
        background-color: #fff;
}
/*======== скидання стилыв за замовчуванням ========*/
a{
    text-decoration: none;
    color: #2E2F42;
}
ul, ol{
    list-style-type: none;
}
button{
    cursor: pointer;
}

/*============ /Common style =========*/
/*======== Header ========*/
.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.logo-part {
    color: #2E2F42;
}

.menu-item > .menu-link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;   
}
.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
    }
.menu-link:active {
    color: #404BBF;
}
.address {
    font-style: normal;
}

.address-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;
        color: #434455;
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
/*======== /Header ========*/

/*======== Hero section ========*/
.hero {
    background-color: #2e2f42;
}
 .title {
    text-align: center;
    font-size:56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
 }   
 .button-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#fff;
    background-color: #4D5AE5;
 }
 .button-link:hover,
 .button-link:focus {
    background-color: #404bbf;
 }
/*======== /Hero section ========*/

/* ======== Advant section ======== */

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
}

.advant-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.item-dscr {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ======== /Advant section ======== */

/* ======== Team section ======== */

.team {
color: #2e2f42;
background: #f4f4fd;
}

.team-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list-item {
   background-color: #fff;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-dscr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ======== /Team section ======== */

/* ======== Portfolio section ======== */
.portfolio {
    color: #2e2f42;    
}

.portfolio-title {
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.11;  
    text-transform: capitalize;
}

.portfolio-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-dscr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ======== /Portfolio section ======== */

/* ======== Footer ======== */
.contacts{    
    background-color: #2e2f42;
}
.logo-footer-part{
    color: #f4f4fd;
}
.contacts-dscr {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ======== Footer ======== */